body {
background-color: black;
}

body {

    font-family: 'adihausDIN', sans-serif;
    color: white;
    
    
}


header {
    font-family: 'adineue PRO', sans-serif;
    background-color: black;
    height: 100px;
    align-items: center;
   }


   .headerBild {
    width: 25%;
    height: 5%;
    float: right;   
    padding-right: 600px;

}

.ueberschrift {
    color: white;
}



.hintergrund {
width: 100%;
height: 50%
}

.section1 {
    background-image: url('bilder/Hintergrund.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    height: 600px;
    font-size: 20px;
    
}

.h1s1 {
    padding-left: 80px;
    padding-top: 200px;

}

.b1 {

    color: white;
    font-size: 80%;
    height: 50px;
    width: 200px;
    background-color: black;
    box-shadow:15px ;

}

.pfeil {

width: 20%;
height: 20%;
padding-left: 10px;

}

p {
    color: white;
    font-size: 20px;
}

.section2 {

height: 600px;


}

h2 {

    color: white;
    font-size: 40px;

}

.h2s2 {

    padding-left: 80px;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 40%;
    float: left;

}


.section2bild {

    width: 50%;
    float: right;

}



a {
color: black;
text-decoration: none;

}


.section3 {

height: 600px;
padding-bottom: 80px;

}

.h3s3 {
    align-items: left;
}

.container {

    display: flex;
    position: relative;
    z-index: 1;
    margin: auto;
    width: 90%;
    float: left;
    height: 80%;
}



.projekt {

    flex: 3; 
    margin: 50px;
    text-align: center;
    padding: 30px;

}

.s3b {

    width: 150%;
    height: 80%;

}

.section4 {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

}

.s4b {

    width: 20%;
    height: 20%;
    float: left;
    padding-left: 60px;
}

.s4text3 {

    display: none;

}

.s4b3 {

    display: none;

}

.s4text {

    font-size: 90%;
    width: 70%;
    float: right;
    padding-right: 60px;

}

.s4text2 {

    font-size: 90%;
    float: left;
    width: 70%;
    padding-left: 60px;

}

.s4b2 {

    width: 20%;
    height: 20%;
    float: right;
    padding-right: 60px;

}

.boxs4 {

    width: 100%;
    padding: 60px;
    

}

.mobil {

    display: none;

}


.newsletter1 {

    background-color: rgb(237, 231, 52);
    height: 150px;

}

.newsletter2 {

    width: 50%;
    float: left;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
    color: black;
    font-size: 200%;

}

.b2 {

    color: white;
    font-size: 80%;
    height: 50px;
    width: 200px;
    background-color: black;
    box-shadow:15px ; 
    float: left;  
    align-items: center;
    margin-right: 100px;
    margin-top: 25px;

}

.newsletterDiv {

    justify-content: center;
    padding-top: 30px;

}

.f1s {

    padding-top: 20px;

}

.f1 {

    width: 15%;
    float: right;
    font-size: 100%;

}

.f1 p   {

    font-size: 60%;

}


.footer1 {

    text-align: center;
    background-color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    width: 100%;
    float: right;
    font-size: 70%;
    
    }

    .icons1 {

        height: 50px;
        width: 50px;
        background-color: white;
    
    }

    .icons2 {

        height: 50px;
        width: 50px;
    
    }

    .icons3 {

        height: 50px;
        width: 50px;
        background-color: white;
    
    }


    
    footer {
        background-color: grey;
        
    }


    @media only screen and (max-width: 600px) {

        
        .headerBildDev {

            width: 100%;
            float: left;
            padding: 0;

        }
        
        
        .container {

            width: 100%;

        }


        html, body {
            margin: 0;
            padding: 0;
        }



        body {

            width: 100%;
            align-items: center;
            overflow-x: hidden;
            padding: 0;
            margin: 0;

        }

        header {

            width: 100%;
            overflow: hidden;

        }

        main {

            width: 100%;
            overflow: hidden;

        }

        footer {

            width: 100%;
            overflow: hidden;

        }

        .headerBild {
            width: 100%;
            height: 20%;
            float: none;
            padding-right: 0;
            

        }

        header {
            font-family: 'adineue PRO', sans-serif;
            background-color: black;
            height: 80px;
            width: 100%;
           }

           .h1s1 {
            padding-left: 20px;
            padding-top: 140px;
            
        
        }


        .section1 {
            background-image: url('bilder/Hintergrund_mobil.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;    
            height: 400px;
            font-size: 10px;   
            width: 100%;
        }


        .b1 {

            color: white;
            font-size: 80%;
            height: 20px;
            width: 100px;
            background-color: black;
            box-shadow:15px ;
        
        }



        .section2 {

            height: 400px;
            width: 100%;
            
            
            }

        .section2h2 {

            font-size: 100%;

        }




        .section2 p {

            font-size: 80%;
           text-align: center;

        }


        .h2s2 {

            
            padding-top: 50px;
            width: 60%;
            text-align: center;
            padding-bottom: 40px;
        
        }

        .section2bild {

            width: 100%;
            align-items: center;
            padding-bottom: 100px;

            
            
        }

        .section2bildDiv {

            align-items: center;

        }

        .h3s3 {
            align-items: center;
            padding-top: 100px;
        }

        .section3 {

            display: none;

        }

        .f1s {

            display: none;

        }

        .f1 {

            display: none;

        }


        .section4 {

            display: none;

        }

        .mobil {

            display: block;
            width: 100%;

        }

        b {

            text-align: center;

        }

        .s4textmobil {

            
            padding-left: 20px;
            padding-right: 10px;

        }

        .s4bmobil {

            width: 100%;

        }

        .newsletter1 {

            width: 100%;

        }

        .f1s {

            width: 100%;

        }

        .newsletter1 {

            background-color: rgb(237, 231, 52);
            height: 250px;
            width: 100%;
            align-items: center;
        
        }
        
        .newsletter2 {
        
            width: 100%;
            justify-content: center;
            align-items: center;
            float: none;
            color: black;
            font-size: 200%;
            padding-left: 10px;
            padding-right: 50px;
            text-align: center;
            
        
        }
        
        .b2 {
        
            color: white;
            font-size: 80%;
            height: 50px;
            width: 200px;
            background-color: black;
            box-shadow:15px ; 
            float: center;  
            align-items: center;
            margin: 0;
            margin-left: 20%;


            
        
        }
        
        .newsletterDiv {
        
            justify-content: center;
            padding-top: 30px;
            text-align: center;
            align-items: center;
            float: left;
        
        }

      }


      @media only screen and (min-width: 601px) and (max-width: 1024px) {
        
        .headerBildDev {

            width: 100%;
            padding: 0;

        }

        .container {

            width: 100%;
            padding-right: 50px;

        }


        html, body {
            margin: 0;
            padding: 0;
        }



        body {

            width: 100%;
            align-items: center;
            overflow-x: hidden;
            padding: 0;
            margin: 0;

        }

        header {

            width: 100%;
            overflow: hidden;

        }

        main {

            width: 100%;
            overflow: hidden;

        }

        footer {

            width: 100%;
            overflow: hidden;

        }

        .headerBild {
            width: 30%;
            height: 20%;
            float: none;
            padding-right: 0;
            padding-left: 35%;
            

        }

        header {
            font-family: 'adineue PRO', sans-serif;
            background-color: black;
            height: 80px;
            width: 100%;
           }

           .h1s1 {
            padding-left: 20px;
            padding-top: 150px;
            font-size: 150%;
        
        }


        .section1 {
            background-image: url('bilder/Hintergrund_mobil.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;    
            height: 400px;
            font-size: 10px;   
            width: 100%;
        }


        .b1 {

            color: white;
            font-size: 100%;
            height: 20px;
            width: 100px;
            background-color: black;
            box-shadow:15px ;
            size: 100%;
            width: 150px;
            height: 35px;
        
        }

        .h2s2 {

            padding-top: 100px;

        }



        .section2 {

            height: 400px;
            width: 100%;
            
            
            }

        .section2h2 {

            font-size: 120%;
            padding-top: 0px;

        }




        .section2 p {

            font-size: 90%;
           

        }




        .section2bild {

            width: 40%;
            align-items: center;
            padding-bottom: 100px;
            padding-top: 80px;

            
            
        }

        .section2bildDiv {

            align-items: center;

        }

        .h3s3 {

            display: none;

        }

        .section3 {

           display: none; 

        }

        .f1s {

            display: none;

        }

        .f1 {

            display: none;

        }


        .section4 {

            display: none;

        }

        .mobil {

            display: block;
            width: 100%;
            

        }

        b {

            text-align: center;

        }

        .s4textmobil {

            
            padding-left: 20px;
            padding-right: 10px;
            padding-bottom: 50px;

        }

        .s4bmobil {

            width: 100%;

        }

        .newsletter1 {

            width: 100%;

        }

        .f1s {

            width: 100%;

        }

        .newsletter1 {

            background-color: rgb(237, 231, 52);
            height: 200px;
            width: 100%;
            align-items: center;
        
        }
        
        .newsletter2 {
        
            width: 70%;
            justify-content: center;
            align-items: center;
            float: left;
            color: black;
            font-size: 200%;
            text-align: center;
            padding-left: 0;
        
        }
        
        .b2 {
        
            color: white;
            font-size: 80%;
            height: 50px;
            width: 200px;
            background-color: black;
            box-shadow:15px ; 
            float: right;  
            align-items: center;
            margin: 0;
            margin-top: 5%;


            
        
        }
        
        .newsletterDiv {
        
            justify-content: center;
            padding-top: 30px;
            text-align: center;
            align-items: center;
            float: left;
        
        }

    }



    @media only screen and (min-width: 1500px) {

        .headerBild {
            width: 25%;
            height: 100px;
            float: right;   
            padding-right: 700px;
        
        }

        .section3 {

            height: 600px;
            padding-bottom: 80px;
            align-items: center;
            
            }
            
            .h3s3 {
                align-items: center;
                padding-top: 100px;
                padding-left: 50%;
            }
            
            .container {
            
                display: flex;
                position: relative;
                z-index: 1;
                margin: auto;
                width: 90%;
                float: center;
                height: 80%;
                padding-left: 5%;
            }
            
            
            
            .projekt {
            
                flex: 3; 
                margin: 50px;
                text-align: center;
                padding: 20px;
            
            }

            .s3b {

                width: 110%;
                height: 100%;
            
            }



    }










